<!--footer -->
<div class="jumbotron jumbotron-fluid" style="height: 150px; background-color: #000; color: #fff">
  <div class="container" style="height: 80px;">
    <p class="lead">미안해 솔직하지 못한 내가 지금 이 순간이 꿈이라면 살며시 너에게로 다가가 모든걸 고백 할텐데</p>
  </div>
</div>
<!--footer-->